html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(154, 252, 255);
}
h1 {
    text-align: center;
    letter-spacing: 10px;
    font-family: sans-serif;
    font-weight: normal;
}
h1::after {
    content: '';
}
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#zone_text {
    color: inherit;
    background-color: inherit;
}

input[type] {
    height: 60px;
    width: 60px;
    background: none;
    border: 1px solid #070707;
    border-radius: 3px;
    color: #070707;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type]:hover {
    color: rgb(255, 253, 152);
    background-color: #070707;
}

input[value='='] {
    height: 124px;
}
input[value='0'] {
    width: 124px;
}


#container div {
    width: 100%
}
#container div form input{
    text-align: right;
    border: 1px solid black;
    width: 100%;
    height: 30px;
}

#name {
    color: #070707;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 10px;
}
